.d2>ol{    
    height:40px;
    width: 40px;
    float: right;
    border: solid;
    margin-top: 8px;
    
    }

    .d2>ol:hover{
        background-color: rgb(255, 204, 204);
        color: white;
        padding: 10px;
    }


    .d1{
        background-color: black;
        height:30px;
        width: 30px; 
        float: left;
        margin-top: 10px;
        margin-left: 10px;
    }

   .d0{
       background-color: orange;
       height: 60px;
       width: 100vw;
     

       

   }
   *{margin: 0px;}